<h1></h1>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=@flat.picture_url%>);">
  <div class="container">
    <h1> <strong><%=@flat.name%></strong></h1>
    <p><%=@flat.address%></p>
  </div>
</div>

<div class="container mt-3 bg-light">
  <p><%=@flat.description%></p>
</div>
